body{
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color:orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
   
h1{
    font-size: 45px;

}       
 .color-orange{
    color: orange;

}

.flexible-container{
    display: flex;
}
.top-ban {
    margin-top: 80px;
    margin-bottom: 80px;
}
    .half-width{
        width: 50%;
        padding: 5%;
        
    }
    .half-width2{
        width: 80%;
        padding-left: 10%;
    }
       
.button1-link{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 5px 20px;
        border-radius: 5px;
        color: white;
    }
.about-me {
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#centertext{
text-align: center;
}
.align{
  text-align: center;  
}

    .recipe-items{
  
    width: 25%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 20px 20px 50px gray;
}
#box-one{
    margin-left: 10%;
    margin-right: 5%;
}
#box-two{
    margin-left: 0%;
    margin-right: 5%;
}
#box-three{
    margin-left: 0%;
    margin-right: 10%;
}
.resize{
    width: 300px;
    padding: 5px;
    border-radius: 5%;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align:center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.5;
  }  
  #center-icon{
      text-align: center;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 30%;
    text-align: center;
   
  }
  
  
  .fa-twitter {
    background: #6386a1;
    color: white;
    border-radius: 30%;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 30%
  }
  .fa-skype {
    background: #0da2d8;
    color: white;
    border-radius: 30%
  }


  .fa-instagram {
    background: #881253;
    color: white;
    border-radius: 30%;
  }
  
#footer-back{
background-color:aquamarine;
text-align: center;
}